*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    /* border: 1px solid black; */
    height: 90px;

}

.Logo{
    /* border: 1px solid red; */
    height: 60px;
    width: 70px;
}

.image{
    width: 100%;
    height: 100%;
}

.Heading{
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 700px;
}

ul{
    /* border: 1px solid green; */
    display: flex;
    gap: 100px;
    font-size: 20px;
    font-weight: 600;

}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
}

.Sup-Login{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
    height: 60px;
    width: 350px;
    gap: 30px;
}

button{
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 5px;
    width: 75px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

button:nth-child(2) {
    background-color: black;
    color: white;
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
    scale: 1.1;
    transition: .5s ease-out;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 100px; */
    /* border: 1px solid black; */
    height: 85vh;
}

.h1-heading{
    /* border: 1px solid green; */
    width: 45%;
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

h1.text{
    font-size: 30px;
    font-weight: 900;
}

p.text{
    width: 400px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
}

.image2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

button#get{
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(174, 89, 196, 0.5) 0.62%, rgba(109, 236, 205, 0.38) 51.8%, rgba(219, 255, 0, 0.325) 94.73%);
    border: 5px solid #FFFFFF;
    box-shadow: 0px 20px 35px rgba(63, 26, 75, 0.14);
    border-radius: 20px;
    color: black;
    width: 150px;
    height: 55px;
}